body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('../assets/background.jpg');
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/* ------- NAVBAR ------- */

.navbar {
  display: flex;
  height: 50px;
  width: 100vw;
  border-radius: 27px; 
  box-shadow: 3px 3px 3px rgb(66, 110, 213);
}

.title {
  margin-left: 10px;
  margin-top: 7px;
  font-size: x-large;
  color: antiquewhite;
}

#logo {
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
}

/* ------- DROP-DOWN -------  */

.dropdown-wrapper {
  height: 200px;
}
#direction {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 3px 3px 3px  rgb(51, 123, 194);
  border: 3px solid rgb(99, 185, 228);
  padding: 3px;
  border-radius: 7px;
}
#positions {
  margin-left: 10px;
  padding: 5px;
  height: 38px;
  border-radius: 7px;
}

#positions:hover {
    cursor: pointer;
}


/* ------- TOOL TIP -------  */
.tooltip-wrapper {
  height: 100%;
}
.hover-me {
  padding: 10px;
}

#btn {
  height: 50px;
  border-radius: 7px;
}

#btn:hover {
  cursor: pointer;
}

.tooltip {
  padding: 10px;
  background-color: bisque;
  border-radius: 10px;
  color: red;
  z-index: 10; 
}
.tooltip-top {
  position: relative;
  top: -110px;
}
.tooltip-left {
  position: relative;
  left: -215px;
  top: -55px;
}
.tooltip-right {
  position: relative;
  right: -220px;
  bottom: 55px;
}
.tooltip-bottom {
  position: relative;
  bottom: -5px;
}
.aim::after {
  content: " ";
  position: absolute;
}
.aim-top::after {
  border-bottom: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid antiquewhite;
  bottom: -8px;
  right: 8px;
}

.aim-bottom::after {
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid antiquewhite;
  top: -8px;
  right: 8px;
}

.aim-left::after {
  right: -8px;
  border-top: 10px solid transparent;
  border-right: none;
  border-left: 10px solid antiquewhite;
  border-bottom: 10px solid transparent;
}
.aim-right::after {
  left: -8px;
  border-top: 10px solid transparent;
  border-left: none;
  border-right: 10px solid antiquewhite;
  border-bottom: 10px solid transparent;
}
